<h1>Ajuda</h1>
<div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-3">Aprendendo</h4>
      <h5 class="card-subtitle text-muted">Loop</h5>
      <p class="card-text">
        Caso você esteja com dificuldade em aprender uma determinada parte da música, é possível definir um trecho do
        vídeo para ficar repetindo.<br>
        Basta clicar no botão "Ativar loop" e mover as barrinhas que ficam embaixo do mesmo para determinar a parte
        do vídeo que vai ficar em loop.
      </p>
      <img src="../../assets/img/loop.gif">
    </div>
    <div class="card-body">
      <h4 class="card-title mb-3">Criando</h4>
      <h5 class="card-subtitle text-muted">Marcadores</h5>
      <p class="card-text">
        Os acordes que aparecem na tela são determinados pelos marcadores. Cada marcador guarda uma nota ou um acorde, uma
        descrição e uma cor. Os acordes aparecem na tela conforme o vídeo reproduz e o momento exato de tocá-los é quando
        eles chegam à linha central. Tanto a descrição quanto as cores facilitam a identificação de trechos da música,
        como: introdução, refrão, solo.<br>
        Os marcadores podem ser adicionados com o vídeo reproduzindo ou em <i>pause</i>, clicando no botão "Adicionar marcador".
        É muito importante que o marcador seja adicionado no momento exato em que a nota é tocada na música.<br>
        Também é possível selecionar e editar um marcador clicando nele ou navegando através dos botões "Próximo marcador" e "Marcador anterior". <br>
        Para excluir um marcador, basta selecioná-lo e clicar no ícone de lixeira.<br>
        OBS: Todas as ações são irreversíveis.
      </p>
      <img class="mb-4" src="../../assets/img/markers.gif">

      <h5 class="card-subtitle text-muted">Copiar e colar</h5>
      <p class="card-text">
        É muito comum que sequências de acordes se repitam numa música. Para não precisar criar vários marcadores iguais
        múltiplas vezes, você pode utilizar a função "Copiar e colar".<br>
        Ao clicar no botão "Copiar", é só seguir as instruções que aparecerão na tela.
      </p>
      <img src="../../assets/img/copy.gif">
    </div>
    <div class="card-body">
      <h4 class="card-title mb-3">Atalhos</h4>
      <p class="card-text">
        Para aumentar a sua produtividade ao criar uma cifra, é possível utilizar atalhos de teclado para executar
        determinadas funções. Na página da cifra, pressione <b>F1</b> para ver a lista de todos os atalhos disponíveis.
      </p>
    </div>
  </div>
</div>
