.timeline-wrap {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.timeline {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #6c757d;
  border-radius: 3px;
}

.bar-wrap {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.content-bar {
  position: absolute;
  width: 100%;
  height: 5rem;
}

.description-bar {
  text-align: center;
}

.content-marker {
  position: absolute;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  margin-left: -0.5rem;
}

.marker-description {
  font-size: 2rem;
}

.center-indicator {
  border-left-style: ridge;
  border-width: medium;
  border-color: lightgrey;
  opacity: 0.5;
  height: 100%;
  left: 50%;
  position: absolute;
}

.marker {
  position: absolute;
  border-left-style: solid;
  border-width: medium;
  height: 30px;
  cursor: pointer;
}

.current-time-indicator {
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  border-color: rgb(52, 58, 64);
  background-color: #fcc107;
  height: 15px;
  width: 15px;
  top: 22px;
  position: absolute;
  z-index: 1;
}

.time-tooltip {
  background-color: rgba(52, 58, 64, 0.8);
  color: white;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  top: -32px;
  position: absolute;
  z-index: 1;
}

.time-tooltip div {
  text-align: center;
  margin-top: 2px;
}

.passed-time-indicator {
  background-color: rgb(52, 58, 64);
  position: absolute;
  top: 28px;
  height: 4px;
  z-index: 1;
}

::ng-deep {
  .custom-slider {
    position: absolute;
    top: -42px;
    width: 100%;
    z-index: 0;
  }

  .custom-slider .ng5-slider .ng5-slider-bar {
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: #fcc107;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: rgb(52, 58, 64);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: #fcc107;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #fcc107;
  }
}
