<!--The content below is only a placeholder and can be replaced.-->
<div class="row" [hidden]="tab !== 'info'">
  <div *ngIf="canEdit && song.videoId" class="col-12">
    <button class="btn btn-link text-muted" (click)="changeTab('video')"><h3>Video ></h3></button>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-6 col-sm-12">
    <form (ngSubmit)="loadVideo()">
      <div class="form-group">
        <label for="video-url">Video URL</label>
        <input id="video-url" name="video-url" type="text" class="form-control" [(ngModel)]="song.videoUrl" [disabled]="song.videoId" required/>
      </div>
      <div class="form-group">
        <label for="title">Song title</label>
        <input id="title" name="title" type="text" class="form-control" [(ngModel)]="song.title" required/>
      </div>
      <div class="form-group">
        <label for="artist">Artist</label>
        <input id="artist" name="artist" type="text" class="form-control" [(ngModel)]="song.artist" required/>
      </div>
      <button type="submit" class="btn btn-dark">{{ song.videoId ? 'Save' : 'Next' }}</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row" [hidden]="tab !== 'video'">
  <div *ngIf="canEdit" class="col-12">
    <button class="btn btn-link text-muted" (click)="changeTab('info')"><h3>< Song info</h3></button>
  </div>
  <div class="col-12 text-center">
    <h1>
      {{ song.title }} - {{ song.artist }}
    </h1>
  </div>
  <div class="bar-wrap">
    <div class="content-bar" #contentBar>
      <div class="center-indicator"></div>
      <div class="content-marker" *ngFor="let marker of visibleMarkers" (click)="goTo(marker.time, $event); $event.stopPropagation()"
           [ngStyle]="{left: marker.position+'px'}">
        <div [ngStyle]="{'font-size': marker.size+'rem'}">{{ marker.note }}</div>
      </div>
    </div>
  </div>
  <div class="btn-group" role="group" *ngIf="canEdit">
    <button type="button" class="btn btn-dark" (click)="saveMarker()">
      <span class="fas fa-map-pin"></span> {{ hasMarker ? 'Save marker' : 'Add marker' }}</button>
    <button type="button" class="btn btn-danger" (click)="deleteMarker()" [disabled]="!selectedMarkerTime"><span class="fas fa-trash"></span></button>
    <button type="button" class="btn btn-dark" (click)="goToPreviousMarker()"><span class="fas fa-angle-left"></span> Previous marker</button>
    <button type="button" class="btn btn-dark" (click)="goToNextMarker()">Next marker <span class="fas fa-angle-right"></span></button>
    <button type="button" class="btn btn-dark" (click)="isLooping = !isLooping"
            [ngClass]="{'active': isLooping}"><span class="fas fa-sync-alt"></span> Loop region</button>
    <button type="button" class="btn btn-warning" (click)="saveSong()"><span class="fa fa-save"></span> Save</button>
  </div>
  <div class="btn-group" role="group" *ngIf="!canEdit">
    <button type="button" class="btn btn-dark" (click)="isLooping = !isLooping"
            [ngClass]="{'active': isLooping}"><span class="fas fa-sync-alt"></span> Loop region</button>
  </div>
  <div class="timeline-wrap">
    <div class="custom-slider" [hidden]="!isLooping">
      <ng5-slider [(value)]="loopingRegion.startTime" [(highValue)]="loopingRegion.endTime" [options]="sliderOptions"></ng5-slider>
    </div>
    <div class="timeline" #timeline (click)="goTo(null, $event)" (mousemove)="showTimeOnTimeline($event)"
         (mouseleave)="hideTimeOnTimeline($event)">
      <div class="time-tooltip" #timeTooltip hidden><div>00:00</div></div>
      <div class="current-time-indicator" (mousemove)="showTimeOnTimeline($event, null, currentTime.style.left)" id="current-time-indicator" #currentTime></div>
      <div class="passed-time-indicator" [ngStyle]="{width: currentTime.style.left}"></div>
      <div class="marker" *ngFor="let markerTime of markersSet" (click)="goTo(markerTime, $event)" (mousemove)="showTimeOnTimeline($event, markerTime)"
           [ngStyle]="{left: getMarkerTimelinePosition(markerTime)+'px', borderColor: markerTime == selectedMarkerTime ? 'rgb(52, 58, 64)' : '#fcc107'}"
           [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="bottom" [id]="'marker'+getMarkerTimelinePosition(markerTime)"
           #popover="ngbPopover" container="body" [autoClose]="false"
           (onCreate)="setMarkerPopover(popover, markerTime)">
        <ng-template #popTitle>
          <div class="text-center">
            <b>{{ formatSecondsToMinutesString(markerTime) }}</b>
          </div>
        </ng-template>
        <ng-template #popContent>
          <div>
            <div class="form-group">
              <label for="noteInput">Note</label>
              <input (keydown)="closePopover(markerTime, $event)" class="form-control" type="text" id="noteInput"
                     placeholder="Note" [(ngModel)]="marker.note" autofocus/>
            </div>
            <div class="form-group">
              <label for="descInput">Desc</label>
              <input (keydown)="closePopover(markerTime, $event)" class="form-control" type="text" id="descInput"
                     placeholder="Description" [(ngModel)]="marker.description"/>
            </div>
            <button (click)="closePopover(markerTime)" class="btn btn-danger btn-sm">Close</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <youtube-player
      [videoId]="song.videoId"
      (ready)="onPlayerReady($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
  </div>
</div>
