<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav" *ngIf="currentUser">
    <a class="nav-item nav-link" routerLink="/">Início</a>
    <a class="nav-item nav-link" routerLink="/songs/new">Criar cifra</a>
    <a class="nav-item nav-link" style="cursor: pointer" (click)="logout()">Sair</a>
  </div>
  <div class="navbar-nav" *ngIf="!currentUser">
    <a class="nav-item nav-link" routerLink="/">Início</a>
    <a class="nav-item nav-link" routerLink="/login">Entrar</a>
    <a class="nav-item nav-link" routerLink="/register">Cadastrar</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-alert-component></app-alert-component>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
